.table{
    border-spacing: 1px;
    margin: 1rem;
    background-color: #a5a5a5;
}

.table__row{
    background: #e5e5e5;
}

.table__header{
    text-align: left;
    background-color: #a5a5a5;
}

.table__cell{
    padding: 8px;
}

